#hero{
    background-image: url(images/hero.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(90%);
}

.social{
  margin-left: 20px;
  color: aliceblue;
}